#tic-tac-toe-board {
  display: block;
  margin: 0 auto;
}

.canvas-wrapper {
  /*position: absolute;*/
  position: fixed;
  top: 200px;
  left: 200px;
  transform: translateY(-50%);
  width: 100%;
}

.canvas-wrapper-parent {
  transform-style: preserver-3d;
}

#tic-tac-toe-containers {
  visibility: hidden;
}

#names {
  visibility: hidden;
}
